Repository imgix/ix-elements: changes, and which Codecov flags are due for each by the changed paths.
All: ix-player, ix-player-react, ix-video, ix-video-react, playback-core

chore: update example to use src
  examples/vanilla-ts-esm/public/ix-video.html
Due: none

chore: bump ix-video to beta 2
  packages/ix-video/package.json
Due: ix-video

chore: bump ix elements pre-release versions
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  packages/ix-player-react/package.json
  packages/ix-player/package.json
Due: ix-player, ix-player-react

docs: update readme references
  README.md
  README_INTERNAL.md
  packages/ix-player/README.md
  packages/ix-video-react/README.md
  packages/ix-video/README.md
Due: ix-player, ix-video, ix-video-react

docs: add poster-params and gif-preview references
  packages/ix-player/REFERENCE.md
  packages/ix-player/src/index.ts
Due: ix-player

docs(ix-player-react): add poster-params and gif-preview references
  packages/ix-player-react/REFERENCE.md
Due: ix-player, ix-player-react

docs: add type attr reference
  packages/ix-player-react/REFERENCE.md
  packages/ix-player/REFERENCE.md
Due: ix-player, ix-player-react

docs(ix-video): fix typo
  packages/ix-video-react/README.md
  packages/ix-video/README.md
Due: ix-video, ix-video-react

docs: update changelogs to reference new packages
  packages/ix-player-react/CHANGELOG.md
  packages/ix-player-react/package.json
  packages/ix-player/CHANGELOG.md
  packages/ix-player/package.json
  packages/ix-video-react/package.json
  packages/ix-video/CHANGELOG.md
Due: ix-player, ix-player-react, ix-video, ix-video-react

build: update example apps and yarn lock to reference new versions
  examples/create-react-app-with-typescript/package.json
  examples/nextjs-with-typescript/package.json
  examples/svelte-kit/package.json
  examples/vanilla-ts-esm/package.json
  examples/vue-with-typescript/package.json
  yarn.lock
Due: none

ci: remove publish step and update project id
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/project.yml
Due: none

chore: move commitlint to commit-msg
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(release): ix-video v2.0.0
  packages/ix-video/CHANGELOG.md
  packages/ix-video/package.json
Due: ix-video

chore(release): ix-player v0.0.1
  packages/ix-player/CHANGELOG.md
  packages/ix-player/package.json
Due: ix-player

chore(release): ix-player-react v0.0.1
  packages/ix-player-react/CHANGELOG.md
  packages/ix-player-react/package.json
Due: ix-player, ix-player-react

chore(release): ix-video-react v0.0.1
  packages/ix-video-react/CHANGELOG.md
  packages/ix-video-react/package.json
Due: ix-video, ix-video-react

docs(readme): remove gh relative links and use absolute urls instead
  README.md
Due: none

chore: update contributing docs
  CONTRIBUTING.md
Due: none

chore: make contributing link an absolute url
  README.md
Due: none

chore: add ix-docs-ignore tags
  README.md
Due: none

chore(docs): update cdn links
  packages/ix-video/README.md
Due: ix-video

chore: fix incorrect package references
  CONTRIBUTING.md
  examples/vanilla-ts-esm/package.json
  packages/ix-player/src/types.d.ts
  packages/ix-player/test/web-test-runner.config.mjs
  packages/ix-video/test/web-test-runner.config.mjs
  shared/test-esm-exports/README.md
Due: ix-player, ix-video

chore: remove unused scripts
  packages/ix-player-react/package.json
  packages/ix-player/package.json
  packages/ix-video-react/package.json
  packages/ix-video/package.json
  packages/playback-core/package.json
Due: ix-player, ix-player-react, ix-video, ix-video-react, playback-core

chore: remove unused lang option
  packages/ix-player/lang/nl.json
Due: ix-player

chore: update links to correct location
  errors/404-not-found.md
  examples/create-react-app-with-typescript/src/App.tsx
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/svelte-kit/src/lib/header/Header.svelte
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/ix-player-audio.html
  examples/vanilla-ts-esm/public/ix-player.html
  examples/vanilla-ts-esm/public/ix-video.html
  examples/vue-with-typescript/src/App.vue
  packages/ix-player/src/logger.ts
Due: ix-player

docs: update publishing instructions
  README_INTERNAL.md
Due: none

docs: update README
  README_INTERNAL.md
  packages/ix-player/README.md
Due: ix-player

docs: add missing step to publish
  README_INTERNAL.md
Due: none

docs: add 423 error docs
  errors/423-still-processing.md
Due: none

docs: update imgix site url
  README_INTERNAL.md
Due: none

chore: remove ga tracking param
  errors/423-still-processing.md
Due: none

chore: fix grammar
  README_INTERNAL.md
Due: none

chore: format lerna and package json
  lerna.json
  package.json
Due: none

chore: remove unused gh pages script
  examples/vanilla-ts-esm/package.json
Due: none

chore: rename default import to match element name
  packages/ix-player/src/video-api.ts
Due: ix-player

Path conditions:
  ix-player: any of: packages/ix-player
  ix-player-react: any of: packages/ix-player-react
  ix-video: any of: packages/ix-video
  ix-video-react: any of: packages/ix-video-react
  playback-core: any of: packages/playback-core
