Repository imgix/ix-elements: changes, and which Codecov flags are due for each by the changed paths.
All: ix-player, ix-player-react, ix-video, ix-video-react, playback-core

codecov.yml:

# Setting coverage targets per flag
coverage:
  status:
    project:
      default:
        target: auto #overall project/ repo coverage
      ix-player:
        target: auto
        flags:
          - ix-player
      ix-player-react:
        target: auto
        flags:
          - ix-player-react
      ix-video:
        target: auto
        flags:
          - ix-video
      ix-video-react:
        target: auto
        flags:
          - ix-video-react
      playback-core:
        target: auto
        flags:
          - playback-core

# adding Flags to your `layout` configuration to show up in the PR comment
comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added

flags:
  ix-player:
    paths: #note, accepts globs, not regexes
      - packages/ix-player
  ix-player-react:
    paths: #note, accepts globs, not regexes
      - packages/ix-player-react
  ix-video:
    paths: #note, accepts globs, not regexes
      - packages/ix-video
  ix-video-react:
    paths: #note, accepts globs, not regexes
      - packages/ix-video-react
  playback-core:
    paths: #note, accepts globs, not regexes
      - packages/playback-core

chore: update type names to reference ix-player
  packages/ix-player/src/index.ts
  packages/ix-player/src/types.d.ts
Due: ix-player

chore: fix cue-line errors
  packages/ix-player/src/index.ts
Due: ix-player

chore: rename default import to match element name
  packages/ix-player/src/video-api.ts
Due: ix-player

chore: remove unused lang option
  packages/ix-player/lang/nl.json
Due: ix-player

chore: fix incorrect package references
  CONTRIBUTING.md
  examples/vanilla-ts-esm/package.json
  packages/ix-player/src/types.d.ts
  packages/ix-player/test/web-test-runner.config.mjs
  packages/ix-video/test/web-test-runner.config.mjs
  shared/test-esm-exports/README.md
Due: ix-player, ix-video

chore: update links to correct location
  errors/404-not-found.md
  examples/create-react-app-with-typescript/src/App.tsx
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/svelte-kit/src/lib/header/Header.svelte
  examples/vanilla-ts-esm/public/index.html
  examples/vanilla-ts-esm/public/ix-player-audio.html
  examples/vanilla-ts-esm/public/ix-player.html
  examples/vanilla-ts-esm/public/ix-video.html
  examples/vue-with-typescript/src/App.vue
  packages/ix-player/src/logger.ts
Due: ix-player

docs: add 423 error docs
  errors/423-still-processing.md
Due: none

docs: update imgix site url
  README_INTERNAL.md
Due: none

chore: format lerna and package json
  lerna.json
  package.json
Due: none

docs: add missing step to publish
  README_INTERNAL.md
Due: none

chore: remove ga tracking param
  errors/423-still-processing.md
Due: none

chore: fix grammar
  README_INTERNAL.md
Due: none

docs: update README
  README_INTERNAL.md
  packages/ix-player/README.md
Due: ix-player

chore: remove unused gh pages script
  examples/vanilla-ts-esm/package.json
Due: none

docs: update publishing instructions
  README_INTERNAL.md
Due: none

chore: remove unused scripts
  packages/ix-player-react/package.json
  packages/ix-player/package.json
  packages/ix-video-react/package.json
  packages/ix-video/package.json
  packages/playback-core/package.json
Due: ix-player, ix-player-react, ix-video, ix-video-react, playback-core

feat(ix-player): auto-retry on 423 response
  packages/ix-player/src/dialog.ts
  packages/ix-player/src/errors.ts
  packages/ix-player/src/index.ts
  packages/ix-player/src/styles.css
  packages/ix-player/src/template.ts
  packages/ix-player/src/types.d.ts
  packages/ix-player/test/player.test.js
  packages/ix-player/test/template.test.js
Due: ix-player

refactor: use theme to remove poster
  packages/ix-player/src/index.ts
Due: ix-player

chore: remove whitespace
  packages/ix-player/src/index.ts
Due: ix-player

feat(ix-player): remove poster on error
  packages/ix-player/src/index.ts
  packages/ix-player/src/types.d.ts
Due: ix-player

chore(cra-demo): update vidoe used example
  examples/create-react-app-with-typescript/src/pages/IxPlayer.tsx
Due: none

chore: remove mux-video examples
  shared/assets/media-assets.json
Due: none

chore(ix-player): release v1.0.0
  packages/ix-player/CHANGELOG.md
  packages/ix-player/package.json
Due: ix-player

chore(ix-player-react): release v1.0.0
  packages/ix-player-react/CHANGELOG.md
  packages/ix-player-react/package.json
Due: ix-player, ix-player-react

docs: update main readme player versions
  README.md
Due: none

chore: new logo
  README.md
Due: none
